*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --body-background-color:#a30373f5;
    --button-hover-background-color: #757575;
    --button-hover-color:#fff;
    --copyright-color:#fff;
}


body{
    background-color: var(--body-background-color);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    height: 350px;
    max-width: 1200px;
    width: 500px;
    margin: 60px auto;
    border-radius: 10px;
    /* background-color: red; */
}

.container p{
    text-align: center;
    padding: 20px;
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-radius:100px;
    margin-bottom: 50px;
    border-bottom: 4px solid rgb(255, 5, 213);
    /* background: radial-gradient(circle, rgba(253, 9, 236, 1) 59%,rgba(13, 12, 13, 255) 100%) */
}


input{
    padding: 6px;
    border-radius: 10px;
}

button{
    font-weight: 800;
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    margin: 5px 0 0;
}

button:hover{
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
    border: none;
}

input{
    font-weight: 800;
}   

#copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: 800;
    color: var(--copyright-color);
}

::placeholder{
    text-align: center;
}

@media screen and (max-width:800px) {
    .container{
        padding: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        height: auto;
        /* margin: 280px 30px 0; */
    }

    input, button{
        width: 100%;
        margin: 10px 0;
        font-size: 1em;
    }
    
    small{
        font-weight: 800;
    }

    p{
        white-space: nowrap;
    }
}

@media screen and (max-width:490px) {
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #out-put{
        height: 50px;
        width: 300px;
        font-size: 1.2em;
    }
    
    #generate{
        height: 50px;
        width: 300px;
    }
    
    #copybtn{
        height: 50px;
        width: 300px;
    }
}


@media screen and (max-width:370px) {

    #out-put{
        font-size: 1em;
        width: 200px;
    }
    
    #generate{
        width: 200px;
        font-size: 0.9em;
    }
    
    #copybtn{
        width: 200px;
        font-size: 0.9em;
    }

    small{
        font-weight: 800;
        width: 100%;
        white-space: nowrap;
    }
    
    #copyright{
        font-size: 0.8em;
    }
}
